/* You can add global styles to this file, and also import other style files */
body {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

td {
    width: 60px;
    height: 40px;
    vertical-align: bottom;
  }

  #btnEdit {
      position:absolute;
      left: 750px;
      bottom: 120px;
  }

  .btn {
      width: 135px;
  }
  